@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 15vh;
  justify-content: space-around;
  align-items: space-around; }

.header__logo {
  width: 25vw;
  height: 13vh;
  margin-left: 14vw;
  margin-top: 2vh; }

nav {
  margin: auto; }

header nav div.container-fluid ul.dropdown-menu li a {
  color: blue; }

nav a:hover {
  color: #000; }

/*footer*/
footer div.main_contentFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: space-around;
  padding-top: 10vh; }
  footer div.main_contentFooter div.leftBox {
    width: 22vw;
    height: 13vh; }
  footer div.main_contentFooter div.social_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: space-around; }
    footer div.main_contentFooter div.social_icons a img {
      width: 4vw;
      height: 7vh; }
  footer div.main_contentFooter div button.btn a {
    color: white;
    text-decoration: none; }

footer img:hover {
  background-color: #000; }

section.index {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 70vh; }
  section.index img {
    width: 26vw;
    height: 50vh;
    margin: auto;
    margin: 10vh 0vw 0vh 14vw; }

.saludos {
  width: 50vw;
  height: 40vh;
  margin: auto;
  margin: 80px 300px 50px 100px;
  text-align: center; }

h1.bienvenido {
  text-align: center; }

#servicios {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

#detalles {
  width: 25vw;
  height: 70vh;
  text-align: center; }

.detalles1 {
  border: 1px solid #000;
  margin-left: 12vw;
  padding-right: 1vw;
  padding-left: 1vw; }

.detalles2 {
  border: 1px solid #000;
  padding-right: 1vw;
  padding-left: 1vw;
  transition: 5s;
  width: 10vw; }

.detalles3 {
  border: 1px solid #000;
  margin-right: 10vw;
  padding-right: 1vw;
  padding-left: 1vw; }

.news {
  padding-top: 9vh;
  margin-left: 11vw;
  margin-right: 11vw; }

.noticia {
  padding-bottom: 5vh; }

section.banner {
  width: 100vw;
  height: 30vh;
  background-image: url(../img/banner2.jpg);
  background-size: cover; }

div.cuadro_descriptivo {
  padding-top: 8vh;
  width: 100vw;
  height: 30vh; }
  div.cuadro_descriptivo h3 {
    margin-left: 11vw; }

#banner {
  margin-left: 11vw; }

main {
  background-image: url(../img/consultorio.jpg);
  background-size: cover;
  height: 800px; }

main div.accordion_General {
  width: 70vw;
  padding-top: 5vh;
  margin-left: 11vw; }

.flexDeMi {
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

.biografia {
  width: 50vw;
  height: 40vh;
  margin: auto;
  margin: 80px 300px 50px 80px;
  text-align: center; }

section.flexDeMi img {
  width: 26vw;
  height: 50vh;
  margin: auto;
  margin: 110px 8px 15px 200px; }

div h5.soy_yo .display-6 {
  text-align: center; }

button.btn a {
  color: white;
  text-decoration: none; }

/*página5: servicios.html*/
div.formulario {
  background-image: url(../img/appointment.jpg);
  background-size: cover;
  height: 130vh;
  width: 100vw; }

div.col-6 {
  margin-top: 7vh;
  margin-left: 11vw; }
