@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

nav {
  margin: auto;
  margin: 50px 180px 20px 0px; }

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
  height: 8vh;
  list-style-type: none; }

header.header__fotoFondo nav div.container-fluid ul.dropdown-menu li a {
  color: blue; }

.header__logo {
  width: 25vw;
  height: 13vh;
  margin: auto;
  margin: 40px 8px 30px 180px; }

/*intro*/
Intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 500px; }

intro div img {
  width: 26vw;
  height: 50vh;
  margin: auto;
  margin: 80px 8px 15px 200px; }

.intro__mision {
  width: 26vw;
  height: 30vh;
  margin: auto;
  margin: 110px 300px 50px 80px; }

Intro div button.btn a {
  color: white;
  text-decoration: none; }

Container div.carousel-inner {
  height: 450px; }

/*footer*/
footer div.main_contentFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: space-around; }
  footer div.main_contentFooter div.leftBox {
    width: 18vw;
    height: 13vh; }
  footer div.main_contentFooter div.social_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: space-around;
    width: 12vw;
    height: 8vh; }
  footer div.main_contentFooter div button .btn a {
    color: white; }

footer div button.btn a {
  color: white;
  text-decoration: none; }

/*aquí termina la página index.html*/
/*aquí empieza la página noticias.html*/
/*página: servicios.html*/
.imagenFondoServicios {
  background-image: url(../img/consultoriovioleta.jpg);
  height: 720px;
  background-size: cover;
  position: relative; }

.motivosConsulta {
  background-color: grey;
  text-align: justify;
  width: 500px;
  padding: 30px 30px 30px 30px;
  margin-left: 20px; }

.diasConsulta {
  background-color: magenta;
  margin: auto;
  width: 920px;
  height: 205px;
  margin: 270px 0px 50px 0px;
  padding: 0px 30px 200px 30px;
  position: absolute; }

/*página: agendaunacita.html*/
.appointment {
  background-image: url(../img/smile.jpg);
  height: 780px;
  background-size: cover;
  padding-top: 100px;
  padding-left: 180px; }

/*página: acercademi.html*/
.biografia {
  width: 30vw;
  height: 40vh;
  margin: auto;
  margin: 120px 300px 50px 80px; }

section img {
  width: 26vw;
  height: 50vh;
  margin: auto;
  margin: 80px 8px 15px 200px; }

section div button.btn a {
  color: white;
  text-decoration: none; }

.flexDeMi {
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }
