*{ 
	margin: 0;
	padding: 0;
}

Container {
	div.carousel-inner {
		 height: 450px;
		}
	}

// arreglar que las fotos sean de la altura del carousel

// header

header {
	display: flex; 
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

nav {
	margin: auto;
	margin: 20px 180px 20px 0px
}
	
	nav ul{ 
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    height: 8vh;
    list-style-type: none;
}

header {
	nav {
		div.container-fluid {
			ul.dropdown-menu {
				li {
					a{
					color: blue;}
					
				}
			}
		}

	}
}

.header__logo {
	width: 25vw;
	height: 13vh;
	margin: auto;
	margin: 10px 8px 30px 180px;
}

// aquí termina header

/*intro*/

Intro {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 500px;
}

intro {
	div {
		img {
	width: 26vw;
	height: 50vh;
	margin: auto;
	margin: 80px 8px 15px 200px;
		}
	}
}

.intro__mision {
	width: 26vw;
	height: 30vh;
	margin: auto;
	margin: 110px 300px 50px 80px;}

Intro {
	div {
		button.btn { 
		a {color: white;
			text-decoration: none }
		}
	}
}

// aquí termina la intro.

/*footer*/


footer  {	
	div.main_contentFooter {
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	    align-items: space-around;
	    padding-top: 40px;

	   div.leftBox {
	  	width: 18vw;
		height: 13vh;
		}

		div.social_icons {
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	    align-items: space-around;

	    a {
	    	img{
		width: 60px;
		height: 50px;}
				}
			}
		
		div button.btn  {
		a {color: white;
		text-decoration: none;}
						}	
		}
			}

// aquí termina footer

/*aquí empieza la página2: noticias.html*/

section {
	div.foto_Encabezado {
		background-image: url(../img/banner2.jpg);
		background-size: cover;
		width: 100vw;
  		height: 30vh;

  		div.cuadro_descriptivo{
  			margin-left: 150px;
  			padding-top: 50px;
  			 		}
  			 			}
  		}

// aquí empieza la página3: faq.html 







/*página4: acercademi.html*/

.flexDeMi {
	height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between; 
}

.biografia {
	width: 30vw;
	height: 40vh;
	margin: auto;
	margin: 120px 300px 50px 80px;
}

section {
	img {
		width: 26vw;
		height: 50vh;
		margin: auto;
		margin: 80px 8px 15px 200px;
		}
}

section {
	div {
		button.btn {
			a {color: white;
				text-decoration: none; }
		}
	}
}



/*página5: servicios.html*/

div.formulario {
	background-image: url(../img/consultorio.jpg);
 	background-size: cover;
 	height: 900px;
 		}

div.col-6 {
	margin-top: 100px;
	margin-left: 160px;}

 	

	








// experimentos de Robert

// footer{
//   div{
//     div{
//       a{
//         img{width: 30px;
//             height: auto;}
//       }
//     }
//   }
// }

// div.carouselExampleCaptions{
// 	div.carousel-inner{
// 		div.carousel-item{
// 			img{
// 				margin: 0 auto;
// 			}
// 		}
// 	}
// }