*{ 
	margin: 0;
	padding: 0;
}

// header

header {
	display: flex; 
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

nav {
	margin: auto;
	margin: 30px 180px 20px 0px;
}
	
	nav ul{ 
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    height: 8vh;
    list-style-type: none;
}

header {
	nav {
		div.container-fluid {
			ul.dropdown-menu {
				li {
					a{
					color: blue;}
					
				}
			}
		}

	}
}

.header__logo {
	width: 25vw;
	height: 13vh;
	margin: auto;
	margin: 20px 8px 30px 180px;
}

/*footer*/


footer  {	
	div.main_contentFooter {
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	    align-items: space-around;
	    padding-top: 40px;

	   div.leftBox {
	  	width: 22vw;
		height: 13vh;
			}

		div.social_icons {
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	    align-items: space-around;

	    a {
	    	img{
		width: 60px;
		height: 50px;}
				}
			}
		
		div button.btn  {
		a {color: white;
		text-decoration: none;}
						}	
		}
			}

// banner

section {
	div.foto_Encabezado {
		background-image: url(../img/banner2.jpg);
		background-size: cover;
		width: 100vw;
  		height: 30vh;

  		div.cuadro_descriptivo{
  			margin-left: 150px;
  			padding-top: 50px;
  			 		}
  			 			}
  		}


// pagina1 index.html

.carousel-item {
	height: 530px;
	width: 950px;
	margin: auto;
	margin-left: 200px;
}

Intro {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 500px;
}

intro {
	div {
		img {
	width: 26vw;
	height: 50vh;
	margin: auto;
	margin: 80px 8px 15px 200px;
	}
	}
}

.intro__mision {
	width: 28vw;
	height: 15vh;
	margin: auto;
	margin: 110px 300px 50px 80px;

	h1.display-4 {
		text-align: center;

	p.lead {
		text-align: center;
	}	
		}
}

intro{
	div{
		button.btn {
			margin-left: 120px;

			a {color: white;
			text-decoration: none; }
					}
		}
}

// /*aquí empieza la página2: noticias.html*/



// aquí empieza la página3: faq.html 

main {
	background-image: url(../img/consultorio.jpg);
	background-size: cover;
 	height: 1000px;
}

main {
	div.accordion_General {	
			width: 700px;
			margin-left: 140px;
			}
}




// /*página4: acercademi.html*/

.flexDeMi {
	height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between; 
}

.biografia {
	width: 30vw;
	height: 40vh;
	margin: auto;
	margin: 80px 300px 50px 80px;
}

section {
	img {
		width: 26vw;
		height: 50vh;
		margin: auto;
		margin: 80px 8px 15px 200px;
		}
}

section {
	div.biografia {
		h5.display-6 { 
			text-align: center;}
		p.lead {
			text-align: center;
		}

		button.btn {
			margin-left: 120px;
			a {color: white;
				text-decoration: none; 
				}
		}
	}
	}

/*página5: servicios.html*/

div.formulario {
	background-image: url(../img/appointment.jpg);
 	background-size: cover;
 	height: 800px;
 		}

div.col-6 {
	margin-top: 60px;
	margin-left: 150px;
}

 	

	








